extends layout

block content
  h1= title 
  a(href="/") Home
  p Please enter the email address of the person whose image you wish to find.  
 
  block form
  form(method='post', action='/profile-image')

    label(for='email') Email:
    input#email(type="text", name="email", placeholder="their@email.com") 
  
    input#submit(type="submit", value="Submit") 
