extends layout

block content
  h1= title 
  ul
    li 
      a(href="/") Home
    li 
      a(href="/upload") Upload
    li
      a(href="/find") Find 
  p.error Oops! 
  p We couldn't find an image associated with that email address. 
  p Please enter a valid email address or upload a new image.  
 
